.img-card{
    width: 120px;
    aspect-ratio: 1/1;
}
.border{
    border: black solid 2px;
    background-color: #dedede;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.btn {
    width: 25%;
    border-radius: 20%;
    margin: 2%;
    border: white 2px solid;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.btn:hover {
    width: 22%;
    transition: 1s;
}

.white-text{
    color: white;
}
