.main-background-color{
background-color: rgba(2, 46, 79, 0.59);
}
.header-of-soundboard{
    color: white;
    font-size: 3em;
    font-style: italic;
}
.main-container{
    background-color: #000000;
}